@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500italic,500,400italic,300italic,300,100italic,100);

html,body {
 background-color: #333333;
 background-repeat: no-repeat ; /*pas de répition de l'image*/
 background-attachment: fixed ;
}